<div class="github-card">
  <a class="avatar" href="https://github.com/{{userOrTeam repo}}" target="_top">
    <img src="https://avatars.githubusercontent.com/{{userOrTeam repo}}?size=30">
  </a>
  <strong class="name">
    <a href="https://github.com/{{repo}}" target="_top">{{repo}}</a>
  </strong>
</div>
